@use "reset";

$moderate-violet: hsl(263, 55%, 52%);
$very-dark-grayish-blue: hsl(217, 19%, 35%);
$very-dark-blackish-blue: hsl(219, 29%, 14%);
$very-dark-blackish-blue-50: hsl(219, 29%, 14%, 0.5);
$very-dark-blackish-blue-70: hsla(219, 29%, 14%, 0.7);
$white: hsl(0, 0%, 100%);
$white-50: hsla(0, 0%, 100%, 0.5);
$white-70: hsla(0, 0%, 100%, 0.7);
$light-gray: hsl(0, 0%, 81%);
$light-grayish-blue: hsl(210, 46%, 95%);

main {
  width: 82%;
}

.attribution {
  font-size: 1rem;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}

.avatar {
  height: 2.5rem;
  border: 2px solid hsla(0, 0%, 100%, 0.5);
  border-radius: 50%;
}

.bg-blackish-blue {
  background-color: $very-dark-blackish-blue;
}

.bg-grayish-blue {
  background-color: $very-dark-grayish-blue;
}

.bg-violet {
  background-color: $moderate-violet;
}

.bg-white-1 {
  background-color: $white;
}

.card-1 {
  border-radius: 0.75rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.container-main {
  background-color: $light-grayish-blue;
}

.heading {
  font-size: 1.55rem;
}

.name {
  font-size: 1rem;
}

.text-gray-100 {
  color: $very-dark-blackish-blue;
}

.text-gray-70 {
  color: $very-dark-blackish-blue-70;
}

.text-gray-50 {
  color: $very-dark-blackish-blue-50;
}

.text-white-100 {
  color: $white;
}

.text-white-70 {
  color: $white-70;
}

.text-white-50 {
  color: $white-50;
}

.verified {
  font-size: 0.85rem;
}

@media (max-width: 600px) {
  body {
    height: auto;
  }

  main {
    width: 95%;
  }

  .card-1 {
    margin-bottom: 2rem;
  }

  .container-main {
    padding: 5rem 0;
  }
}
